.header {
  height: 400px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}