.new-tweet {
  width: 100%;
  background: transparent;
  outline: none;
  color: black;
  resize: none;
  font-family: "Source Sans Pro", cursive;
  font-weight: 300;
}

#tweet-container {
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px;
  flex-direction: column;
}

.tweet>h5 {
  border-bottom: solid black;
  padding: 1em;
  border-width: 100%;
}

.tweetheader {
  display: flex;
  justify-content: space-between;
}


.iconparent {
  display: flex;
  flex-direction: row;
}

.handle {
  color: grey;
}