#tweet-text {
  border-bottom: solid black;
  background-color: #f4f1ec;
  border-left: none;
  border-top: none;
  border-right: none;
  width: 100%;
}

.text-count {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: 'Bungee'
}

.counter {
  font-family: 'Bungee';
}

.footer {
  height: 50px;
}


.error {
  color: red;
  font-family: 'Bungee';
}

.error-container {
  border: red solid;
  display: none;
}

.error-message {
  color: red;
  font-family: 'Bungee';
  border: red;
  display: flex;
  justify-content: center;
}

article.tweet:hover {
  box-shadow: 0 0 15px;
  border-color: lightgrey;
}

.fa-solid:hover {
  color: lightgrey;
}